*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $font-text;
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 27px;
  color: $color-light;
  position: relative;
  background: $color-dark;
  background-image: url('../images/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.splash {
  text-align: center;
  text-transform: uppercase;
  width: max-content;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 200px;

  .row {
    flex-direction: column;
    width: max-content;
  }

  h1 {
    margin-right: -60px;
    margin-bottom: 0px;
  }

  h3 {
    text-align: end;
    margin-top: 0;
  }
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
 
  a {
    text-decoration: none;
    color: $color-light;
    text-transform: uppercase;
    padding: 0 50px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: $font-semibold;  
  }
}

.grid-wrapper {
  margin: 0 auto;
  width: fit-content;
}

.footer {
  font-size: 20px;
  font-weight: $font-normal;
  text-align: center;
  margin: 100px auto;
}