h1 {
  font-size: 100px;
  letter-spacing: 60px;
  font-weight: $font-black;
}
  
h2 {
  font-size: 60px;
  letter-spacing: 6px;
  line-height: 27px;
  font-weight: $font-bold;
}
  
h3 {
  font-size: 36px;
  letter-spacing: 11px;
  line-height: 72px;
  font-weight: $font-black;
}