$font-text: 'Source Sans Pro';

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$color-light: rgba(255, 255, 255, 1);
$color-dark: #131313;
$color-draw: rgba(194, 78, 0, 1);
$color-start: #2ecc71;
$color-finish: #e74c3c;

$cell-size: 50px;