.image-wrapper{
  white-space: nowrap;

  .image {
    position: relative;
  }

  h2 {
    text-transform: uppercase;
    margin-bottom: 0;
  }

  p {
    margin-top: 40px;
  }
}

.image-wrapper-1 {
  position: relative;
  margin-left: 11%;

  img {
    height: auto;
    width: 37vw;
  }

  .image-description{
    position: absolute;
    bottom: 10%;
    left: 22%;
  }
}

.image-wrapper-2 {
  position: relative;
  margin-top: 5%;

  img {
    margin-left: 32vw;
    height: auto;
    width: 60vw;
  }

  .image-description{
    position: absolute;
    left: 15%;
    top: 5vw;
  }
}

.opaque {
  opacity: 0;
}