.image-wrapper{
  position: absolute;
  white-space: nowrap;

  .image {
    position: relative;
  }

  h2 {
    text-transform: uppercase;
    margin-bottom: 0;
  }

  p {
    margin-top: 40px;
  }
}

.image-wrapper-1 {
  top: 190px;
  left: 145px;

  .image-description{
    position: absolute;
    top: 310px;
    left: 425px;
  }
}

.image-wrapper-2 {
  top: 815px;
  left: 580px;

  .image-description{
    position: absolute;
    top: 50px;
    left: -355px;
  }
}