.finder-header, .button-wrapper {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.grid-header, .button-wrapper a {
  display: none;

  &.active {
    display: block;
  }
}

.button-wrapper {
  margin-top: 50px;
}

.grid-box {
  display: flex;
  flex-wrap: wrap;
  direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  
  .row {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    direction: column;
    margin: 0 auto;

    .cell {
      flex: 0 1 auto;
      height: $cell-size;
      width: $cell-size;
      padding: 1px;
      border: 1px solid rgba(255, 255, 255, 1);
      background-clip: padding-box;
      content: ' ';
      cursor: pointer;
      margin: 0;
      
      &.permitted {
        background-color: rgba(194, 78, 0, 0.2);
      }

      &.selected {
        background-color: $color-draw;
        opacity: 1;
      }

      &.start {
        background-color: $color-start;
        opacity: 1;
      }
      
      &.finish {
        background-color: $color-finish;
        opacity: 1;
      }
    }
  }
}
